.lives:hover {
    cursor: pointer;
    background-color: #FFF3CD;
    color: black;
    text-decoration: none;
 }

.buscadorajax {
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
  }