.lives:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

.active>a {
    background: rgb(255, 116, 0);
}

.ulp {
    margin-left: 0px;
    padding: 0px;
}

.ulp>li {
    list-style: none;
    display: inline-block;
    margin-right: 7px;
}

.ulp>li>a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    display: block;
    background: #1e5799;
    /* Old browsers */
    border-radius: 20px;
}

.btnp>a {
    padding: 2px;
    background: #1e5799;
    /* Old browsers */
    border-radius: 2px;
    text-align: center;
    width: 30px;
}

.buscador-ajax {
    border: none;
    padding-left: 15px;
    margin: 10px;
    height: 44px;
    width: 500px;
    border: 1px solid #dfe1e5;
    outline: none;
    border-radius: 24px;
}

.tarjetasbusqueda {
    height: auto;
    margin: 15px;
    width: 250px;
    background-color: #fff
}

.tarjetasbusqueda:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.livesa:hover {
    color: #000;
    text-decoration: none;
    height: auto;
    margin: 15px;
    width: 250px;
    background-color: #fff
}

.buscador-ajax:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.buscador-ajax:focus {
    box-shadow: 0 1px 6px #4d90fe;
}

.buscador-ajax[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height: 36px;
}

.buscador-ajax[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

.footerfix {
    position: absolute;
    bottom: 0;
    width: 100%;
}